# Common Alias defenition file.
# Designed so it can be shared among different computers and shells
#
# Author: David Terei

# enable color support of ls and also add handy aliases
if [ "$TERM" != "dumb" ]; then
	export LSCOLORS="Gxfxcxdxbxegedabagacad"
	if command -v dircolors &>/dev/null; then
		eval "`dircolors -b`" &>/dev/null
	fi

	# try to accomodate for different ls
	if ls --color -d . &>/dev/null 2>&1; then
		alias ls='ls --color=auto'
	elif colorls -G . &>/dev/null 2>&1; then
		alias ls='colorls -G'
	elif ls -G . &>/dev/null 2>&1; then
		alias ls='ls -G'
	fi
fi

# fix tmux on OS X.
if [ "$OSTYPE" = "darwin12.0" ] ; then
	function tmux() {
		if [ $# -ne 0 ]; then
			/usr/local/bin/tmux $@
		else
			/usr/local/bin/tmux new-session -n `echo $SHELL | sed -e "s/\/[^/]+\///"` "reattach-to-user-namespace -l $SHELL"
		fi
	}
fi

# have xclip use gtk clipboard
alias xclip='xclip -sel clip'

# turn on some good! regular expression by default
if echo "a" | sed -r "s/a//" &>/dev/null; then
	alias sed='sed -r'
elif echo "a" | sed -E "s/a//" &>/dev/null; then
	alias sed='sed -E'
fi

alias grep='grep -E'
alias gre='grep -E --color=always'

# reload profile
alias rlp='source ~/.profile'

# some more ls aliases
alias ll='ls -l'
alias la='ls -A'
alias l='ls -CF'
alias less='less -R'

# cd aliases
alias cd..='cd ..'
alias .='pwd'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias ~='cd ~'

# Push and pop directories on directory stack
alias pu='pushd'
alias po='popd'
alias d='dirs -v'

# make and change to a directory
function take() {
  mkdir -p $1
  cd $1
}

# Super user
alias _='sudo'

# xopen
if [ "$OSTYPE" = "darwin12.0" ] ; then
	alias xopen='open'
else
	alias xopen='xdg-open'
fi

# Aptitude
alias ap='sudo aptitude'
alias api='sudo aptitude install'
alias apu='sudo aptitude update'
alias apg='sudo aptitude full-upgrade'
alias apz='sudo aptitude search'
alias apc='sudo aptitude changelog'
alias aps='sudo aptitude show'

# Pacman
alias pm='sudo pacman'

# Tmux
alias tm='tmux'

# Cabal
alias cb='cabal'
alias cbd='cabal install --only-dependencies --enable-tests'
alias cbi='cabal install '
alias cbc='cabal configure --enable-tests'
alias cbb='cabal build'
alias cbt='cabal test'

# Git
alias g='git'
alias gg='git log'
alias ggp='git log -p'
alias ggg='git log --graph --oneline'
alias ggz='git cherry -v'
alias gcount='git shortlog -sn'
alias gz='git status -s'
alias gd='git diff | less'
alias gl='git pull --ff-only'
alias gup='git pull --rebase'
alias gc='git commit -v'
alias gca='git commit -v -a -m'
alias ge='git rebase'
alias gb='git branch'
alias gco='git checkout'
alias ga='git add'
alias gf='git fetch'
alias gfa='git fetch --all'
alias gr='git remote'
alias grv='git remote -v'

#simple web server at current director
alias www='python -m http.server'

# make parallel aliases
alias make0='make -j16'
alias make1='make -j1'
alias make2='make -j2'
alias make3='make -j3'
alias make4='make -j4'
alias make5='make -j5'
alias make6='make -j6'
alias make7='make -j7'
alias make8='make -j8'
alias make9='make -j9'
alias make10='make -j10'
alias make11='make -j11'
alias make12='make -j12'
alias make13='make -j13'
alias make14='make -j14'
alias make15='make -j15'
alias make16='make -j16'
alias make17='make -j17'
alias make18='make -j18'
alias make19='make -j19'
alias make20='make -j20'

# memcachier
alias dbpovo='heroku pg:psql DATABASE_URL --app povo-db'
alias dbpovo-stag='heroku pg:psql DATABASE_URL --app povo-db-staging'
alias dbdero='heroku pg:psql --app dero-db'
