# Common Alias defenition file.
# Designed so it can be shared among different computers and shells
#
# Author: David Terei
# Last Modified: 11/08/2008

# enable color support of ls and also add handy aliases
if [ "$TERM" != "dumb" ]; then
	eval "`dircolors -b`"
	alias ls='ls --color=auto'
	alias dir='ls --color=auto --format=vertical'
	alias vdir='ls --color=auto --format=long'
fi

# some more ls aliases
alias ll='ls -l'
alias la='ls -A'
alias l='ls -CF'

# cd aliases
alias cd..='cd ..'
alias ..='cd ..'
alias ~='cd ~'

# app aliases
alias g='git'
alias m='mutt'
alias v='vim'
alias vi='vim'
alias ds='darcs'

# cluster firewall alias
alias ac3='telnet cluster.sirca.org.au'

# turn on some good! regular expression by default
alias sed='sed -r'
alias grep='grep -E'

# nice function for easy text searching in files
function fsearch() { find * -iname "$1" | xargs egrep "$2"; }
function frsearch() { find * -regextype posix-extended -regex ".*$1" | xargs egrep "$2"; }
function hsf() { find * -regextype posix-extended -regex ".**.(c|h|l?hs)" | xargs egrep "`echo $1 | sed -e 's/ /\\\s\*/'`" | grep -v "_darcs"; }

# nice pause function (equivalent of DOS pause)
function pause() { read -n1 -r -p "Press any key to continue..." key; }

