[user]
	name = David Terei
	email = davidterei@gmail.com
[giggle]
	main-window-maximized = true
	main-window-geometry = 483x337+857+252
	history-view-vpane-position = 720
	file-view-vpane-position = 778
	main-window-view = FileView
[push]
	default = upstream
[core]
	excludefile = /Users/david/.gitignore_global
	excludefile = /home/david/.gitignore_global
	excludefile = /home/davidt/.gitignore_global
	excludefile = /home/dterei/.gitignore_global

[color]
	ui = true
[diff]
	ignoreSubmodules = dirty
